# NetBeans specific #
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/build-impl.xml
nbproject/genfiles.properties
